@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://wallpaperaccess.com/full/2256519.jpg');  /* Ajusta la URL según la ubicación de tu imagen */
  background-size: cover; 
  background-position: center;  /* Centra la imagen en el contenedor */
  color: white;
}

.content-container {
  height: calc(100vh - theme("spacing.20"));
}